@** Classe de modelo de dados utilizada nesta página *@
@model AgendaContatos.Mvc.Models.AccountPasswordRecoverModel
@{
    //definir a página de layout utilizada
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="card-body">
    <div class="text-center mb-3">
        <h3>Esqueci minha senha</h3>
        <p>Entre com o seu email para recuperar a senha.</p>
    </div>
    @using (Html.BeginForm())
    {
        <div class="mb-3">
            <label>Entre com seu email:</label>
            @Html.TextBoxFor(model => model.Email,
        new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="mb-3 d-grid">
            <input type="submit" class="btn btn-success"
               value="Recuperar Senha" />
        </div>
        <div class="mb-3 d-grid">
            <a href="/Account/Login" class="btn btn-primary">
                Já possui conta? <strong>Acesse aqui!</strong>
            </a>
        </div>
        <div class="text-center">
            <strong>@TempData["Mensagem"]</strong>
        </div>
    }
</div>
